.pjcfye {
	display: flex;
}
.AD0Dze {
	flex-grow: 1;
	flex-basis: 0;
	margin-bottom: 20px;
	padding-left: 150px;
}
h2 {
	color: #3c4043;
	font-family: "Google Sans" ,sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	margin: 0;
	padding: 64px 0 0 0; 
}
.rfNEoc {
	padding-left: 0;
}
.p60sj {
	padding: 20px 0 20px 80px;
	position: relative;
}
.m49pib {
	left: 0;
	position: absolute;
	top: 25px;
}
img {
	border: none;
}